li{
    list-style-type: none;
}


@import url('https://fonts.googleapis.com/css2?family=Borel&family=David+Libre:wght@700&family=Roboto+Mono:wght@400;500;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body{
    font-family: 'Space Mono';
    margin: 0;
    font-weight: 400;
}
