// MAIN //

.index_main{
    padding-top: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        background-image: url("../asset/Wooden-Background.webp");
        background-repeat: no-repeat;
        color: rgb(108, 70, 5);
        border-radius: 10px;
        max-width: 1000px;
        text-align: center;
        display: inline-block;
        box-shadow: rgb(163, 118, 62) 0px 10px 10px;
        padding: 40px 0 20px;
        margin: 70px auto 30px auto;
        font-size: 70px;
    }
}

.index_main .premiere_section{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    align-items: center;
    article{
        border: rgb(0, 0, 0) 1px solid;
        background-color: rgba(27, 26, 26, 0.45);
        color: white;
        margin: 30px 0;
        box-shadow: 0 0 10px white;
        width: 50%;
        padding: 20px 40px;
        text-align: justify;
        h2{
            text-align: center;
            font-size: 45px;
        }
        p{
            font-size: 30px;
            font-style: normal;
            font-weight: 100;
        }
    }
}
@media screen and (max-width:800px) {
    .index_main .premiere_section article{
        width: 80%;
    }
}

@media screen and (max-width:425px){
    .index_main h1{
        font-size: 50px;
    }
    .index_main .premiere_section article{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}
// FIN DE MAIN //


// MENU SOUS FORME DE CARDS //

.homepage_section_menu{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border-radius: 25px;
    background-color: #fefee2;
        border: black 3px solid;

    .homepage_card_effet{
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform: scale(1.1);
        opacity: 1;
        z-index: 6;
    }
    a{
        width: 33%;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.9;

        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px 0;

            h3{
                font-size: 40px;
                color: #048b9a;
                margin: 0 0 20px 0;
                -webkit-text-stroke: 1px black;
                text-align: center;

            }
            img{
                width: 150px;
                height: 150px;
            }
        }

    }
}
@media screen and (max-width:1000px){
    .homepage_section_menu{
        width: 100%;
    }
}

@media screen and (max-width:800px){
    .homepage_section_menu{
        flex-direction: column;
        border-radius: 0;

    }
}

// FIN DE MENU SOUS FORME DE CARDS //