// BACKGROUNDS //


.homepage_background{
    background-color: #048b9a;
    background-size: cover;
    background-repeat: no-repeat;

}   

.competences_background{
    background-image: url("../asset/background_Competences.webp");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.cv_background{
    background-color: black;
    }

.contact_background{
    background-image: url("../asset/background_contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.projets_background{
    background-image: url("../asset/tableau-noir-sale-vert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


                // PAGE MON CV //


// SECTION CHOIX DE CATEGORIE // 
.cv_title{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-size: 100px;
    font-weight: 800;
    color: $colorBlueLight;
    @extend .text_flash_style;

}
.categorie {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    input{
        display: none;
    }
    #label_etudes, #label_experiences{
        position: relative;
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 800;
        color: $colorBlueLight;
        perspective: 100px;
        width: 30%;
        padding: 20px auto;
        border-radius: 15px;
        cursor: pointer;
        background-color: black;
        font-size: 3vw;
        text-align: center;
        @extend .box_flash_blue;
        span{
            @extend .text_flash_style;
            }
        & div:nth-child(1){
            @extend .shadow_box_blue;
        }
        & div:nth-child(2){
            @extend .btn_full_effect;
        }
        & span:nth-child(3){
            animation-duration: 2s;
        }
    }
    .label_box_fin_annimation, .label_box_fin_annimation{
        @extend .box_end_flash_blue
        
    }
    & #label_etudes{
        div:nth-child(2){
            opacity: 1;
        }
    }
}

@media screen and (max-width:700px){
    .categorie{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        #label_etudes, #label_experiences{
            width: 80%;
            font-size: 50px;

        }
    }
}

// SECTION CHOIX DE LA CATEGORIE //

#section_etudes, #section_experiences{
    li{
    color: $colorBlueLight;
    background-color: black;
    position: relative;
    perspective: 200px;
    height: 200px;
    @extend .box_flash_blue;

    .li_shadow{
        @extend .shadow_box_blue;
        transform: translateY(100%) rotateX(95deg) scale(0.8, 0.60);
        top: 50%;

    }

    &:nth-child(2){
        animation-duration: 5s;
    }
    &:nth-child(3){
        animation-duration: .5s;
        aside img{
            height: 80px;
        }
    }
    }
}

//  SECTION ETUDES ET EXPERIENCES PAGE CV  //

.cv_main{
    display: flex;
    flex-direction: column;    
    & section {
        h2{
            text-align: center;
        }
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                margin: 48px 0;
                width: 90%;
                display: flex;
                height: 200px;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                border: 2px solid $colorBlueLight;
                border-radius: 10px;
                background-color: aliceblue;
            }
        }
        
    }
    & #section_experiences{
        display: none;
    }
}

.cv_main{
    h1{
        font-size: 50px;
        text-align: center;
        margin: 70px auto 0 auto;
    }
    article{
        width: 40%;

        h3{
            color: $colorPurpleLight;
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }
    aside{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 200px;
            max-width: 300px;
            border-radius: 5px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.567);
            }
    }
}

@media screen and (max-width:700px){
    .cv_main {
        article{
            width: 100%;
            text-align: center;
        }
        aside{
            display: none;
        }
    }
}

            // PAGE COMPETENCE ==> CARDS //


.competences_main h1{   
    font-size: 70px;
    text-align: center;
    margin: 70px auto;
}
.section_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
    .competences_card{
        position: relative;
        width: 200px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 2000px;
        perspective-origin: top;
        .card{
            position: relative;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: transform 0.7s ease-in-out;
            .card_front, .card_back{
                background-color: rgba(128, 128, 128, 0.6);
                border: 2px #c0c0c0 solid;
                border-radius: 10px;
                box-shadow: 0 0px 20px 3px ;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                img{
                    height: 150px;
                }
            }
            .card_back{
                background-color: rgba(128, 128, 128, 06);
                font-size: 20px;
                font-weight: 700;
                text-align: center;
                position: absolute;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                transform: rotateY(180deg);
            }
        }
    }  
}

@media screen and (max-width:700px){
    .section_cards .competences_card{
        width: 35%;
        height: 250px;
        .card .card_front img{
            height: 100px;
        }
    }
}

                // PAGE CONTACT //

.contact {
    font-family: 'David libre';
    font-weight: 700;
    text-shadow: 0 0 0.125em $colorGreenMint, 0 0 0.45em $colorGreenMint;
    h1{
        margin: 130px 0 80px 0;
        font-size: 80px;
        text-align: center;
        color: $colorGreenMint;
    }
    .zone_saisie{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 60px auto 60px 50px;


    }
    span{
        animation-name: opacity_0_1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .zone_saisie .zone_lettre_appear{
        width: inherit;
        position: relative;
        opacity: 0;
        animation: opacity_0_1 0.5S linear 7.5S forwards;

        .zone_lettre_touch::after{
            content: "";
            position: absolute;
            width: 35px;
            height: 60px;
            background-color: rgba(128, 128, 128, 0.2);
            z-index: -2;
            right: 0;
            animation: opacity_0_1 0.2s, flash_letter 0.5s infinite;
            animation-delay: 5s;

        }
        
    }

    form{
        display: flex;
        label{
            font-size: 50px;
            text-align: center;
            color: $colorGreenMint;
            margin-left: 60px;
        }
        input{
            width: 35px;
            height: 60px;
            position: relative;
            background-color: transparent;
            color: $colorGreenMint;
            border: none;
            font-family: 'David libre';
            font-weight: 700;
            font-size: 50px;
            text-shadow: 0 0 0.125em $colorGreenMint, 0 0 0em $colorGreenMint;
            &:focus{
                outline: none;
          }
        }

    }
    .lettres_space{
        margin-right: 50px;
    }
}

@media screen and (max-width:700px){
    .contact{
        h1{
            font-size: 25px;
        }
        form {
        
            label{
                font-size: 20px;
            }
            input{
                font-size: 20px;
                height: 20px;
                width: 11px;
            }
        }
        .zone_saisie .zone_lettre_appear .zone_lettre_touch::after{
            height: 20px;
            width: 11px;
        } 
    }
}

                // PAGE MES PROJETS //
.projets_main{
    font-family: "Borel";
    color: white;
    
    h1{
        font-size: 100px;
        margin: 80px auto 0 auto;
        text-align: center;
    }
}

.projets_main section{
    display: flex;
    justify-content: center;

    ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 90%;

        li{
            width: 100%;
        }
    }
}
.projets_main article{
    display: flex;
    flex-direction: row;
    border: 4px white solid;
    border-radius: 25px;
    max-height: 300px;
    overflow: hidden;
    .projets_text{
        margin: auto;
        h3{
            font-size: 30px;
            color: #3a8eba;
        }
        P{
            color: rgb(209, 140,131);
            font-size: 30px;

        }
    }
    .projets_text p:nth-child(3){
        color: green;
        margin-bottom: 0;
    }

    img{
        max-height: 300px;
    }
}