

/* NAV */

header .top_navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: white 0px 3px 5px;
    z-index: 99;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    li{
        font-size: 20px;
        transition: 0.5s;
        a, a:visited{
            text-decoration: none;
            color: rgb(74, 74, 74);
            font-size: 30px;
        }
 
    }
}
.block_menu_deroulant{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 99;
    cursor: pointer;
    display: none;
    img{
        width: 70px;
        filter: invert(1);
    }
}
@media screen and (max-width:700px) {
    header .top_navbar{
        height: 100vh;;
        width: 50%;
        top: 0;
        left: -50%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        ul{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 0 0 20px;
            padding: 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            }
    }
    .block_menu_deroulant{
        display: block;
    }

}
// FIN de NAV //

// FOOTER //

footer{
    width: 100%;
    margin: 150px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    .footer_contact ul{
        margin: 0;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding: 0;

        li{
            width: 40%;
            display: flex;
            justify-content: center;
            text-decoration: none;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer_telephone{
                position: relative;

                .effet_telephone{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 300%;
                    border: 2px black solid;
                    border-radius: 30px;
                    background-color: white;
                    opacity: 0;
                    transform: scale(0);
                    transition: transform 1s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.5vw;
                    z-index: 2;

                }
            }
        }

        img{
            width: 80px;
            filter: invert(1);
            transition: transform 1s ease-in;
        }
    }
}

.footer_enveloppe_hover{
    color: black;
    font-size: 30px;
    text-decoration: none;
    transform: scale(0);
}

// PAGE MAIN //